
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer ;
  outline: none !important;
 
}
.nav-icon {
  font-size: 1.5rem!important;
  color: var(--primaryColor)!important;
}
.nav-links {
  height: 0!important;
  overflow: hidden!important;
  transition: var(--mainTransition)!important;
  list-style-type: none!important;
  margin-top: 10px;
}
.nav-links a {
  display: block!important;
  text-decoration: none!important;
  padding: 1rem 0!important;
  color: var(--mainBlack)!important;
  transition: var(--mainTransition)!important;
  text-align: center!important;
  font-size: 1rem!important;
  font-weight: 600!important;
  letter-spacing: var(--mainSpacing)!important;
  margin-left: 120px !important;
  
}
.nav-links a:hover {
  color: var(--primaryColor) !important;
}

.show-nav {
  height: 160px !important;
  width:100% !important
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none !important;
  }
  .nav-center {
    max-width: 1170px !important;
    margin: 0 auto !important;
    display: flex !important;
  }
  .nav-links {
    height: auto !important;
    display: flex !important;
    margin-left: 40rem !important;
  }
  .nav-links a {
    margin: 0 1rem !important;
    padding: 0.5rem 0 !important;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px)!important;
  background: url("./Images//banner.jpg") center/cover no-repeat !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.roomsHero {
  background-image: url("");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem !important;
  }
  .banner h1 {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem !important;
  }
  .banner h1 {
    font-size: 4rem !important;
  }
}
/* End of Banner */
.project-banner{
  width: 100%;
  height:450px;
}
.ourProject-topic{
  margin-top: 15px;
  
}
.card-title{
  color: red !important;
 text-decoration: none !important;
}
.card-text{
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important;
}
.footer-container{
  background:rgba(0, 0, 0, 0.911);
  width:100%;
  color:rgb(190, 186, 186);
  padding: 30px;;
}
.footer-box{
  padding-left: 30px;
  padding-top: 20px;
}
.footer-box form input{
  padding:10px !important;
  width:280px;
  color:rgb(46, 39, 39);
}

.card-box{
  padding-bottom: 20px;;
}